/* 
FINAL color codes
website base (white) - #FFFFFF
website accents (tan) - #ffebcd 
dark brown - #6d4427
black (font) - #000000
font hover - #704241
*/

*{
  background-color: #FFFFFF;
  color: #000000;
  font-family: monospace;
  width: 80%;
}
  
header{
 background: #ffebcd;
 margin: 0px;
 padding: 15px;
 border-radius: 15px;
 height: 70px
}

.navBar{
   margin: 0 auto;
}

.navBarName{
  background: #ffebcd;
  float:left;
  margin: 0px;
  padding: 0px;
  font-size: 21px;
  text-transform: uppercase;
  color: #000000;
}

nav{
  background: #ffebcd;
  float:right;
}

nav ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

nav li{
 background: #ffebcd;
 display: inline-text;
 margin-left: 70px;
}

nav a{
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size:21px;
  background: #ffebcd;
}

nav a:hover{
  color: #6d4427;
  text-decoration: underline solid #6d4427;
}
 
.activeNavBar{
  color: #6d4427 !important;
  text-decoration: underline solid #6d4427 !important;
}


.aboutMeNavBar{
 margin-left:15%;
 margin-right:15%;
}

.aboutMeNavBar ul{
  list-style-type: none;
  margin-top:50px;
  margin-right: 20px;
  margin-bottom:20px;
  margin-left:20px;
  padding: 20px;
  width: 100%;
  height: 50px;
}

.aboutMeList li{
 float:left; 
 padding: 20px;
}

.aboutMeList a{
  font-size:16px;
  padding: 20px;
  text-decoration: none;
  text-align: left;
  color: #000000;
}

.aboutMeNavBar a:hover{
  color: #6d4427;
  text-decoration: underline solid #6d4427;
}

.activeAboutMe{
  color: #6d4427 !important;
  text-decoration: underline solid #6d4427 !important;
}

.greet{
  text-align:center;
  margin: 80px 10px;
  padding: 20px;
  background: #ffebcd;
}

.greet h1{
  text-align:center;
  font-size: 100px;
  font-weight: 700px;
}

.greet h2{
  text-align:center;
  font-size: 50px;
  font-weight: 500px;
}

.intro{
  text-align: center;
}

.intro h3{
  font-size: 25px;
  font-weight: 300px;
}

.header{
  text-align:center;
  margin-top: 50px;
}

.information{
 margin-left: 30px;
 text-align: left; 
}

.information h2{
  font-size: 20px;
}

.information h3{
  font-size: 15px;
}

.information a:hover{
  color: #DA9B68;
}

#information, #experience, #education, #honors_and_awards, #interest_and_hobbies, #skills{
  margin: 20px;
  padding: 10px;
  border-size: 1px;
  border-color:#CD3C2A;
  border-style: solid;
  border-radius: 15px;
}

.photos img{
  text-align: center;
  max-width:100%;
  height:auto;
}
