*{
  background-color: #000000;
  color: #ffffff;
}

#heading_tag{
  background-color:#dc143c;
  text-align:center;
  padding: 15px;
  width: 100%;
}


.sidebar{
  padding: 2px;
  background-color:#dc143c;
  height: 100%;

}

#name{
  padding:10px;
}

ul{
  list-style: none;
}

i{
  margin: 10px;
  padding: 5px;
}

a:hover{
  margin: 20px;
}
